<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <title>Main</title>
</head>
<body>

<p class="header_buttons_border">
    <button class="header_buttons_size">
        <a class="header_text">
        Profile
        </a>
    </button>
    <button class="header_buttons_size">
        <a class="header_text">
        Top 10
        </a>
    </button>
    <button class="header_buttons_size">
        <a class="header_text">
        Flop 10
        </a>
    </button>
    <button class="header_buttons_size">
        <a class="header_text">
        Last
        </a>
    </button>
</p>

<fieldset class="fieldset_random_quote">
    <p class="quote_text">
        Random quote
    </p>
</fieldset>

<p class="fieldset_sign_in">

</p>

    <!--<fieldset>
        <a class="bot8"  href="#">Profile</a>
        <a class="bot8"  href="#">Top 10</a>
        <a class="bot8"  href="#">Flop 10</a>
        <a class="bot8"  href="#">Last</a>
    </fieldset>-->



</body>
</html>